/ProjetRFID/nbproject/private/
/Code Source/PartieTransportable/nbproject/private/
/Code Source/EmargementRFID/nbproject/private/
/Code Source/EmargementRFID/build/
/Code Source/PartieServeur/nbproject/private/
/Code Source/nbproject/private/